@model Brianzo_Inmobiliaria.Models.CambiarPassword

@{
    ViewData["Title"] = "Cambiar Password";
}

<h2>Cambiar Password</h2>

<hr />


@if(TempData["Otro"] !=  null){
<div class="alert alert-warning" role="alert">
    @TempData["Otro"]
</div>
}


<div class="card">
  <div class="card-header">
    Cambiar Password
  </div>
  <div class="card-body">
    


<div class="row">
    <div class="col-md-12">
        <form asp-action="CambiarPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" name="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirmacion" class="control-label"></label>
               <input type="password" name="Confirmacion" class="form-control">
                <span asp-validation-for="Confirmacion" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Cambiar Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


  </div>
</div>


