@model Brianzo_Inmobiliaria.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<h2>Editar Usuario</h2>
<hr />

<div class="card">
  <div class="card-header">
    Datos del usuario
  </div>
  <div class="card-body">
    
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <input type="hidden" name="Id_Usuario" value="@Model.Id_Usuario"/>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                 <select class="form-control" name="Rol">
                    @{
                       @:<option @(Model.Rol==1 ? "selected" : "") value="1">Administrador</option>
                       @:<option @(Model.Rol!=1 ? "selected" : "") value="2">Empleado</option>
                    }
                </select>
                <span asp-validation-for="Rol" class="text-danger"></span>
                <br>
            </div><img src="@(Model.Avatar == "" ? "/Uploads/av1.jpg" : Model.Avatar)" class="rounded-circle" style="width: 80px;height: 80px;" alt="Avatar" />
           <div class="form-group">
                <label asp-for="AvatarFile" class="control-label"></label>
                <input asp-for="AvatarFile" class="form-control" />
                <span asp-validation-for="AvatarFile" class="text-danger"></span>
            </div>
            <input asp-for="Avatar" class="form-control" type="hidden" />
            <div class="form-group">
                <br>
                <input type="submit" value="Editar" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>


  </div>
</div>
<br>
<div>
    <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
</div>

