@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
 @if(User.IsInRole("Administrador")){                   
                    <img src="/uploads/admin-login.jpg" class="img-fluid" alt="Responsive image">
                }
                else {
                   <img src="/uploads/User-login.jpg" class="img-fluid" alt="Responsive image">
                }
  

   <div class="jumbotron">
  <h1 class="display-4">Bienvenido a Inmobiliaria</h1>
  <p class="lead">Sistema creado para Programación .NET</p>
  <hr class="my-4">
</div>
</div>