@model Brianzo_Inmobiliaria.Models.Inquilino

@{
    ViewData["Title"] = "Crear Inquilino";
}

<h1>Crear Inquilino</h1>
 @if(TempData["error"] !=  null){
        <div class="alert alert-info" role="alert">
        Por favor, complete el formulario para crear un nuevo Inquilino.
        </div>
    }
<hr />

<div class="card">
  <div class="card-header">
    Crear Inquilino
  </div>
  <div class="card-body">
    <div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
         <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <br>
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


  </div>
</div>

<br>

<div>
    <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
</div>

